<div class="row FilterDark">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="Card-Header">
                <h6 class="card-title font18 font700 m-0">Invoice</h6>
            </div>
            <div class="card-body DataTableInfo">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="font14 font700 text-black">Collab ID</th>
                                <th class="font14 font700 text-black">TimeStamp</th>
                                <th class="font14 font700 text-black">Total</th>
                                <th class="font14 font700 text-black">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font14"><a class="text-ellipsis text-black" target="_blank" href="https://explorer.theotherfruit.io/chain/transaction/f842182c5ce0b94c42ff3c4e26d89e641b1efb57d3312111f4495c85770b8ad8">f842182c5ce0b94c42ff3c4e26d89e641b1efb57d3312111f4495c85770b8ad8</a><i class="fa fa-external-link"></i></td>
                                <td class="font14">Dec 31, 2021, 3:26:46 PM</td>                                
                                <td class="font14">$ 654.99</td>
                                <td class="font18"> <span class="cursor-pointer"><i class="fas fa-file-download"></i></span> <span class="font14 mlr-5"> / </span> <span class="cursor-pointer"><i class="fas fa-file-pdf"></i></span></td>
                            </tr>
                            <tr>
                                <td class="font14"><a class="text-ellipsis text-black" target="_blank" href="https://explorer.theotherfruit.io/chain/transaction/f842182c5ce0b94c42ff3c4e26d89e641b1efb57d3312111f4495c85770b8ad8">f842182c5ce0b94c42ff3c4e26d89e641b1efb57d3312111f4495c85770b8ad8</a><i class="fa fa-external-link"></i></td>
                                <td class="font14">Dec 31, 2021, 3:26:46 PM</td>                               
                                <td class="font14">$ 654.99</td>
                                <td class="font18"> <span class="cursor-pointer"><i class="fas fa-file-download"></i></span> <span class="font14 mlr-5"> / </span> <span class="cursor-pointer"><i class="fas fa-file-pdf"></i></span></td>
                            </tr>
                            <tr>
                                <td class="font14"><a class="text-ellipsis text-black" target="_blank" href="https://explorer.theotherfruit.io/chain/transaction/f842182c5ce0b94c42ff3c4e26d89e641b1efb57d3312111f4495c85770b8ad8">f842182c5ce0b94c42ff3c4e26d89e641b1efb57d3312111f4495c85770b8ad8</a><i class="fa fa-external-link"></i></td>
                                <td class="font14">Dec 31, 2021, 3:26:46 PM</td>                               
                                <td class="font14">$ 654.99</td>
                                <td class="font18"> <span class="cursor-pointer"><i class="fas fa-file-download"></i></span> <span class="font14 mlr-5"> / </span>  <span class="cursor-pointer"><i class="fas fa-file-pdf"></i></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>